In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('diabetes/diabetes_binary_health_indicators_BRFSS2015.csv')
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [3]:
df.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [4]:
cat = ['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'Smoker', 'Stroke', 
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies', 'HvyAlcoholConsump',
       'AnyHealthcare', 'NoDocbcCost', 'DiffWalk']

for feat in cat: 
    df[feat+'_cat'] = df[feat].apply(lambda x: 'Yes' if x==1 else 'No')

In [5]:
df

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,Smoker_cat,Stroke_cat,HeartDiseaseorAttack_cat,PhysActivity_cat,Fruits_cat,Veggies_cat,HvyAlcoholConsump_cat,AnyHealthcare_cat,NoDocbcCost_cat,DiffWalk_cat
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,Yes,No,No,No,No,Yes,No,Yes,No,Yes
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,Yes,No,No,Yes,No,No,No,No,Yes,No
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,No,No,No,No,Yes,No,No,Yes,Yes,Yes
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,No,No,No,Yes,Yes,Yes,No,Yes,No,No
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,No,No,No,Yes,Yes,Yes,No,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,No,No,No,No,Yes,Yes,No,Yes,No,No
253676,1.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,No,No,No,No,No,No,No,Yes,No,Yes
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,No,No,No,Yes,Yes,No,No,Yes,No,No
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,No,No,No,No,Yes,Yes,No,Yes,No,No
253679,1.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,No,No,Yes,Yes,Yes,No,No,Yes,No,No

In [6]:
df['Sex_cat'] = df['Sex'].apply(lambda x: 'Male' if x==1 else 'Female')

In [7]:
Income_dict = {1.0 : " < $10,000",
               2.0 : "$10,000 - $15,000",
               3.0 : "$15,000 - $20,000",
               4.0 : "$20,000 - $25,000",
               5.0 : "$25,000 - $35,000",
               6.0 : "$35,000 - $50,000",
               7.0 : "$50,000 - $75,000",
               8.0 : " > $75,000 " }

Education_dict = {1.0: "Never attended school or only kindergarten",
                  2.0: "Grades 1 through 8 (Elementary)",
                  3.0: "Some high school",
                  4.0: "High school graduate",
                  5.0: "Some college or technical school",
                  6.0: "College graduate" }

Age_dict = {1: "18 to 24",
            2: "25 to 29",
            3: "30 to 34",
            4: "35 to 39",
            5: "40 to 44",
            6: "45 to 49",
            7: "50 to 54",
            8: "55 to 59",
            9: "60 to 64",
            10: "65 to 69",
            11: "70 to 74",
            12: "75 to 79",
            13: "80+" }

Gen_health = {
            1: "Excellent",
            2: "Very good", 
            3: "Good", 
            4: "Fair",
            5: "Poor" }

df['Income_cat'] = df['Income'].map(Income_dict)
df['Education_cat'] = df['Education'].map(Education_dict)
df['Age_cat'] = df['Age'].map(Age_dict)
df['GenHlth_cat'] = df['GenHlth'].map(Gen_health)

In [8]:
df

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,Veggies_cat,HvyAlcoholConsump_cat,AnyHealthcare_cat,NoDocbcCost_cat,DiffWalk_cat,Sex_cat,Income_cat,Education_cat,Age_cat,GenHlth_cat
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,Yes,No,Yes,No,Yes,Female,"$15,000 - $20,000",High school graduate,60 to 64,Poor
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,No,No,No,Yes,No,Female,"< $10,000",College graduate,50 to 54,Good
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,No,No,Yes,Yes,Yes,Female,"> $75,000",High school graduate,60 to 64,Poor
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,Yes,No,Yes,No,No,Female,"$35,000 - $50,000",Some high school,70 to 74,Very good
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,Yes,No,Yes,No,No,Female,"$20,000 - $25,000",Some college or technical school,70 to 74,Very good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,Yes,No,Yes,No,No,Male,"$50,000 - $75,000",College graduate,40 to 44,Good
253676,1.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,No,No,Yes,No,Yes,Female,"$20,000 - $25,000",Grades 1 through 8 (Elementary),70 to 74,Fair
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,No,No,Yes,No,No,Female,"$10,000 - $15,000",Some college or technical school,25 to 29,Excellent
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,Yes,No,Yes,No,No,Male,"< $10,000",Some college or technical school,50 to 54,Good
253679,1.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,No,No,Yes,No,No,Female,"$10,000 - $15,000",College graduate,60 to 64,Very good

In [9]:
df.to_csv('diabetes-data.csv')